#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inicial {
  background-color: rgb(57, 41, 128);
  padding: 1.5rem;
  border-radius: 1rem;
}

.read-the-docs {
  color: #888;
}

.respuesta {
  display: flex;
  justify-content: space-evenly;
}

.respuesta input{
  width: 40%;
  border-radius: 8px;
}

.respuesta button{
  padding: 2px 10px;
  background-color: rgb(74, 129, 36);
  border: 1px solid transparent;
}

.respuesta button:hover{
  background-color: white;
  color: black;
}

.respuesta button:disabled{
  background-color: gray;
  color: black;
}

.respuesta button:disabled:hover{
  background-color: gray;
  color: black;
}

.correcto {
  background-color: #08A075;
  padding: 1.5rem;
  border-radius: 1rem;
}

.incorrecto {
  background-color: #8A1A15;
  padding: 1.5rem;
  border-radius: 1rem;
}